i2pfirefox
i2pfox
ifox
i2p-fox
i2pfirefox.exe
i2pfirefox-darwin
i2pfirefox-variant
i2pfirefox-variant.exe
i2pfirefox-variant-darwin
firefox/*
i2p-zero/*
*.tar.bz2
i2pd.conf
i2pd/
i2pd.tar.gz
lib/
lib.tar.gz
tunnels.conf
.i2cp.conf
