i2pfirefox
ifox
i2pfirefox.exe
i2pfirefox-darwin
i2pfirefox-variant
i2pfirefox-variant.exe
i2pfirefox-variant-darwin
firefox/*
i2p-zero/*
*.tar.bz2
i2pd.conf
i2pd/
i2pd.tar.gz
tunnels.conf
.i2cp.conf
basic/*
tmp/*
